# Node.js
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
/dist
/build

# Dependency directories
/node_modules

# Operating System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.iml

# Coverage directory for testing
coverage/

# Temporary files
*.tmp
*.swp

# Debug and editor backup files
*.bak
*.old
